<div class="pt-3 pb-2 border-bottom">
    <h2>Add Employee</h2>
</div>
<br>
<form [formGroup]="employeeForm" (ngSubmit)="submitEmployeeData()" novalidate>
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" required />
                    <span *ngIf="firstName.touched && firstName.invalid" class="error">
                        <sup>*</sup>Please enter at least First Name
                    </span>
                    <span *ngIf="firstName.errors?.['minlength']" class="error">
                        <sup>*</sup>First Name shouldn't be less than 2 characters
                    </span>
                </div>
                <div class="col-md-12">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" required />
                    <span *ngIf="lastName.touched && lastName.invalid" class="error">
                        <sup>*</sup>Please enter at least Last Name
                    </span>
                    <span *ngIf="lastName.errors?.['minlength']" class="error">
                        <sup>*</sup>Last Name shouldn't be less than 2 characters
                    </span>
                </div>
                <div class="col-md-12">
                    <label>Role</label>
                    <select formControlName="role" class="form-control" required>
                        <option value="">Select a role</option>
                        <option value="Product Designer">Product Designer</option>
                        <option value="Software Developer">Software Developer</option>
                        <option value="Sales Executive">Sales Executive</option>
                        <option value="Logistics">Logistics</option>
                    </select>
                    <span *ngIf="role.touched && role.invalid" class="error">
                        <sup>*</sup>Please select a role
                    </span>
                </div>
                <div class="form-group">
                    <label>From Date</label>
                    <mat-form-field class="form-control" style="padding: 0%;">
                        <input matInput [matDatepicker]="joiningDatePicker" formControlName="joiningDate"
                            placeholder="Select From Date" required />
                        <mat-datepicker-toggle matSuffix [for]="joiningDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #joiningDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="joiningDate.touched && joiningDate.invalid">
                        <sup>*</sup>Please select a From Date
                    </mat-error>
                </div>
                <div class="form-group">
                    <label>To Date</label>
                    <mat-form-field class="form-control" style="padding: 0%;">
                        <input matInput [matDatepicker]="relievingDatePicker" formControlName="relievingDate"
                            placeholder="Select To Date" />
                        <mat-datepicker-toggle matSuffix [for]="relievingDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #relievingDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="pt-2 pb-2 border-bottom">
                <button type="submit" class="btn btn-success" style="margin: 1%;" [disabled]="!employeeForm.valid">
                    Add
                </button>
                <button type="button" class="btn btn-secondary" style="margin: 1%;" (click)="ResetForm()">
                    Reset
                </button>
            </div>
        </div>
    </div>
</form>